.mat-icon.material-symbols-outlined {
	font-family: 'Material Symbols Outlined' !important;
	font-size: 24px;
	vertical-align: middle;
	line-height: 1;
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.filled {
	font-variation-settings:
		'FILL' 1  !important;
}


/* #region sticky things */

div.table-sticky {
	display: inline-block;
	height: calc(100vh - 11.2em);
	width: 95vw;
	overflow: auto
}

table.sticky thead th {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	background-color: lightcyan;
	z-index: 20;
}

table.sticky-footer tfoot,
table.sticky-footer tfoot th {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0px;
	background-color: lightyellow;
	z-index: 10;
}

/*Overwrite Bootstrap classes to live well with Material Design css which as the max z-index:1000, while the bootstrap one is 1030. */
.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 990;
}

.fixed-top-above {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 995;
}

/*For 2nd fixed top. 980 to ensure the popover or menu from fixed-top won't hide behind the 2nd fixed top*/
.fixed-top-2 {
	position: fixed;
	top: 4.6em;
	right: 0;
	left: 0;
	z-index: 980;
}

.fixed-bottom {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 990;
}

.fixed-bottom-narrow {
	position: fixed;
	bottom: 0;
	z-index: 990;
}


/* #endregion */

/* #region Bootstrap 4 Alpha 6 good stuffs. Ready to get rid of Bootstrap*/

.container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.alert-background-success {
	background-color: #dff0d8 !important;
}

.bg-info {
	background-color: #5bc0de !important;
}


.bg-warning {
	background-color: #f0ad4e !important;
}

.bg-danger {
	background-color: #d9534f !important;
}

.bg-inverse {
	background-color: #292b2c !important;
}


.text-uppercase {
	text-transform: uppercase !important;
}

.font-weight-bold {
	font-weight: bold;
}

.font-italic {
	font-style: italic;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}


/* #endregion */



/* #region app color and dynamic*/

.event-bg-tentative {
	background-color: antiquewhite;
}

.event-bg-confirmed {
	background-color: lightgreen;
}

.event-bg-completed {
	color: darkblue;
	background-color: lightblue;
}

.event-bg-cancelled {
	color: darkgray;
	background-color: lightgray;
}

.event-bg-inprogress {
	background-color: lightcoral;
}

.event-confirmed {
	color: darkgreen;
	background-color: lightgreen;
}

.event-tentative {
	color: #00BCD4;
}

.event-inprogress {
	color: #4CAF50;
}

.event-completed {
	color: darkblue;
	background-color: lightblue;
}

.doc-display {
	background-color: lightyellow;
}

.high-priority {
	color: red;
}

a.btn:hover {
	cursor: default;
}

input:read-only {
	background-color: #d3ebf3;
}

input:-moz-read-only {
	background-color: #d3ebf3;
}

.error {
	color: red;
}

.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
}

.badge-primary {
	color: #fff;
	background-color: #007bff;
}

.badge-secondary {
	color: #fff;
	background-color: #6c757d;
}

.badge-success {
	color: #fff;
	background-color: #28a745;
}

.badge-info {
	color: #fff;
	background-color: #17a2b8;
}

.badge-warning {
	color: #212529;
	background-color: #ffc107;
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
	color: #212529;
	text-decoration: none;
	background-color: #d39e00;
}

.badge-danger {
	color: #fff;
	background-color: #dc3545;
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
	color: #fff;
	text-decoration: none;
	background-color: #bd2130;
}

.badge-light {
	color: #212529;
	background-color: #f8f9fa;
}

.badge-dark {
	color: #fff;
	background-color: #343a40;
}

.semi-transparent {
	background: hsla(0, 100%, 100%, 0.75);
}

.empty-avatar {
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	line-height: 40px;
	background-color: lightblue;
	text-align: center;
}

.avatar {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.new-item {
	background-color: lightyellow;
}

.time {
	color: darkblue;
}

.interval {
	color: darksalmon;
}

.prac-location {
	color: darkgoldenrod;
}

.cal-disabled {
	background-color: #ccc;
	pointer-events: none;
}

.cal-disabled .cal-day-number {
	opacity: 0.3;
}


.external-link {
	color: darkblue;
}

.internal-dialog-link {
	color: darkgreen;
}

.doc-type {
	background-color: lightgreen;
	font-style: italic;
}

div.doc-highlight,
span.doc-highlight {
	background-color: lightyellow;
}

.titlebar {
	background-color: lightgrey;
}

.person-name {
	background-color: lightpink;
}

.invoice {
	color: black;
}

.invoice-paid {
	color: darkblue;
}

.invoice-partially-paid {
	color: orange;
}

.invoice-outstanding {
	color: red;
}

.invoice-deleted {
	color: yellow;
}

.invoice-voided {
	color: gray;
}

.invoice-adjusted {
	color: brown;
}

.credit {
	color: darkviolet;
}

.person-color {
	color: darkgreen;
}

.biz-color {
	color: darkblue;
}

.red-secondary {
	background-color: #FAE3E3;
}

.yellow-secondary {
	background-color: #FDF1BA;
}

.green-secondary {
	background-color: lightgreen;
}

.grouped-date {
	background-color: lightgray;
}

/* #endregion */



/* #region app layout */

body {
	overscroll-behavior-y: contain;
}

/* Used by panelClass of matDialog to define the mat dialog content height. */
.dialog-full-content-height .mat-mdc-dialog-content {
	max-height: calc(95vh - 5em);
}

/* for dialog with 2 row on the top */
.dialog-full-content-height2 .mat-mdc-dialog-content {
	max-height: calc(95vh - 7em);
}

.dialog-full-content-height-wait {
	max-height: calc(95vh - 7em);
	height: calc(95vh - 7em);
	max-width: calc(95vw);
	width: calc(95vw);
}

.frame-dialog-content {
	height: calc(95vh - 7em);
	width: calc(98vw - 3em);
}

/* for calendar event title in line with the X icon. Good for 15 minutes event */
.cal-event-title,
.cal-event {
	vertical-align: top;
}

.cdk-overlay-pane .wide-menu {
	max-width: none;
	width: 30em;
}

/* #endregion*/


/* #region layout shared with print */

.doc-small {
	font-size: small;
}


div.func-title {
	font-size: 1.2em;
	font-weight: bold;
}

.indent-1 {
	margin-left: 1em;
}

.indent-2 {
	margin-left: 2em;
}

.rotate-90 {
	transform: rotate(90deg);
}

.rotate-180 {
	transform: rotate(180deg);
}

.rotate-270 {
	transform: rotate(270deg);
}

.row-selection {
	background-color: lightyellow;
}

.flip-mirror {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
}


.full-width {
	width: 100%;
}

.strike {
	text-decoration: line-through;
}

.deleted {
	text-decoration: line-through dashed;
}

.table {
	border-collapse: collapse;
}


.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

.full-width .mat-mdc-dialog-container {
	max-width: none;
	width: 100vw;
}


.app-container {
	padding-top: 4.5em;
	padding-bottom: 0.5em;
}

.content-top-padding-relative {
	position: relative;
	margin-top: 4.5em;
}

.content-left-padding-relative {
	margin-left: 1.5em;
}

.flex-form {
	display: flex;
	flex-direction: column;
}

.basic-width {
	width: 25em;
}

.date-width {
	width: 5em;
}


.ellipsis-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	box-sizing: border-box;
}

.inline {
	display: inline-block;
}

.block {
	display: block;
}


.mat-mdc-raised-button {
	text-transform: uppercase;
	background-color: #e5eff2;
}

.readonly-area {
	background-color: #d1f5d1;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}


.sidenav-container {
	flex: 1;
	top: 0.3em;
	bottom: 0;
	left: 0;
	right: 0;
}

.sidenav {
	display: flex;
}

.sidenav-container-container {
	display: flex;
	flex-direction: column;
	bottom: 0;
}

.href {
	text-decoration: underline;
	cursor: pointer;
}

/*growing list in the tab client area of a dialog with 95vh */
.dialog-content-list-in-tab {
	max-height: 50vh;
	overflow: auto;
}


.two-line {
	height: 2em;
}

.three-line {
	height: 3em;
}


#tyro-logo-horizontal-svg {
	width: 79px;
	max-width: 100%;
	height: 37px;
	margin-top: 11px;
	margin-bottom: 10px;
	float: left;
}

/* Add this to img, so the following text could be aligned together at the middle. https://stackoverflow.com/questions/25414091/how-to-center-the-image-both-horizontally-and-vertically-in-span-tag*/
.v-middle {
	vertical-align: middle;
}

.input-hint {
	font-style: italic;
}


.small-rounded {
	border-radius: 5px;
}


button.margin-top-small,
div.margin-top-small {
	margin-top: 0.5em;
}

.align-items-horizontal {
	display: flex;
	align-content: center;
	align-items: center;
}


.total-line {
	border-top: 2px solid;
	border-top-color: black;
	border-bottom: 2px solid;
	border-bottom-color: black;
}

.header {
	background-color: lightcyan;
	font-weight: bold;
}

.footer {
	background-color: lightyellow;
	font-weight: bold;
}

td {
	vertical-align: middle;
}

table.for-print tbody td {
	vertical-align: top;
}

/* #endregion */

/* #region report */

/* Also goes to printYYmmdd.css */
.report-title {
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase !important;
	text-align: center
}

.report-sub-title {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center
}

ul.list-style-none {
	margin: 0;
	list-style: none;
	float: left;
}

ul.list-style-alpha {
	list-style: lower-alpha;
}


/* #endregion */


/* For block container such as mat-dialog-title which is at odd against flex. */
.block-items-gap-1>* {
	margin-left: 1em;
}

.block-items-gap-1>*:first-child {
	margin-left: 0em;
}

.top-margin-half {
	margin-top: 0.5em;
}

iframe.frame-dialog-content {
	width: 75vw;
	height: 45vh;
}


/* For block container such as mat-dialog-title which is at odd against flex. */
.block-items-gap-1>* {
	margin-left: 1em;
}

.block-items-gap-1>*:first-child {
	margin-left: 0em;
}

.top-margin-half {
	margin-top: 0.5em;
}


/* #region Replace fxFlexLayout */

/* display: flex is with latest standard, while flexbox is older. flex may cause the label in buttons to wrap, however, this may be good.
	https://stackoverflow.com/questions/16280040/css3-flexbox-display-box-vs-flexbox-vs-flex
	If oabel wrapping happens, sometimes good to shorten, for example, "Change Password" to "New Password".
*/

/* fxLayout="row" */
.fx-layout-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fx-layout-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.fx-layout-wrap {
	flex-wrap: wrap;
}

/* flex row with fxLayoutGap=1em */
.fx-column-gap-1 {
	display: flex;
	flex-direction: row;
	column-gap: 1em;
}

/* flex column with fxLayoutGap=1em */
.fx-row-gap-1 {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

/*fxLayoutGap=2em*/
.fx-column-gap-2 {
	display: flex;
	flex-direction: row;
	column-gap: 2em;
}

.fx-row-gap-2 {
	display: flex;
	flex-direction: column;
	row-gap: 2em
}

/*fxLayoutGap=0.5em*/
.fx-column-gap-half {
	display: flex;
	flex-direction: row;
	column-gap: 0.5em
}

.fx-row-gap-half {
	display: flex;
	flex-direction: column;
	row-gap: 0.5em
}

.fx-align-center-center {
	justify-content: center;
	align-content: center;
}

.fx-align-start {
	justify-content: flex-start;
}

.fx-align-start-start {
	justify-content: flex-start;
	align-content: flex-start;
}

.fx-align-end {
	justify-content: flex-end;
}

.fx-align-end-end {
	justify-content: flex-end;
	align-content: flex-end;
}

.fx-align-space-between {
	justify-content: space-between;
}

.fx-grow-1 {
	flex-grow: 1;
}

.fx-grow-2 {
	flex-grow: 2;
}

.fx-shrink-1 {
	flex-shrink: 1;
}

.flex-100pc {
	flex: 100%;
}

.flex-95pc {
	flex: 95%;
}

.flex-80pc {
	flex: 80%;
}

/* fxFlexFill https://github.com/angular/flex-layout/wiki/fxFlexFill-API */
.fx-full-width {
	margin: 0;
	width: 100%;
	min-width: 100%;
}

.fx-95pc-width {
	margin: 0;
	width: 95%;
	min-width: 95%;
}

.fx-80pc-width {
	margin: 0;
	width: 80%;
	min-width: 80%;
}

.fx-50pc-width {
	margin: 0;
	width: 50%;
	min-width: 50%;
}

.fx-offset-80px {
	margin-left: 80px;
}

.line-ellipsis {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.line2-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


/* #endregion */

/* #region flex 0 grow 0 shrink width */
.flex-half {
	flex: 0 0 0.5em;
	flex-wrap: nowrap;
}

.flex-1 {
	flex: 0 0 1em;
}

.flex-2 {
	flex: 0 0 2em;
}

.flex-3 {
	flex: 0 0 3em;
}

.flex-4 {
	flex: 0 0 4em;
}

.flex-5 {
	flex: 0 0 5em;
}

.flex-6 {
	flex: 0 0 6em;
}

.flex-7 {
	flex: 0 0 7em;
}

.flex-8 {
	flex: 0 0 8em;
}

.flex-9 {
	flex: 0 0 9em;
}

.flex-10 {
	flex: 0 0 10em;
}

.flex-11 {
	flex: 0 0 11em;
}

.flex-12 {
	flex: 0 0 12em;
}

.flex-13 {
	flex: 0 0 13em;
}

.flex-14 {
	flex: 0 0 14em;
}


.flex-15 {
	flex: 0 0 15em;
}

.flex-16 {
	flex: 0 0 16em;
}

.flex-17 {
	flex: 0 0 17em;
}

.flex-18 {
	flex: 0 0 18em;
}

.flex-19 {
	flex: 0 0 19em;
}

.flex-20 {
	flex: 0 0 20em;
}

.flex-21 {
	flex: 0 0 21em;
}

.flex-22 {
	flex: 0 0 22em;
}

.flex-23 {
	flex: 0 0 23em;
}

.flex-24 {
	flex: 0 0 24em;
}


.flex-25 {
	flex: 0 0 25em;
}

.flex-26 {
	flex: 0 0 26em;
}

.flex-27 {
	flex: 0 0 27em;
}

.flex-28 {
	flex: 0 0 28em;
}

.flex-29 {
	flex: 0 0 29em;
}

.flex-30 {
	flex: 0 0 30em;
}

.flex-31 {
	flex: 0 0 31em;
}

.flex-33 {
	flex: 0 0 32em;
}

.flex-33 {
	flex: 0 0 33em;
}

.flex-34 {
	flex: 0 0 34em;
}


.flex-35 {
	flex: 0 0 35em;
}

.flex-36 {
	flex: 0 0 36em;
}

.flex-37 {
	flex: 0 0 37em;
}

.flex-38 {
	flex: 0 0 38em;
}

.flex-39 {
	flex: 0 0 39em;
}

/* #endregion */

/* #region flex grow 1 shrink 1 width while in flex, grow 1 and shrink 1 are defaults */
/* https://github.com/angular/flex-layout/wiki/fxFlex-API */
.flex11-half {
	flex: 1 1 0.5em;
}

.flex11-1 {
	flex: 1 1 1em;
}

.flex11-2 {
	flex: 1 1 2em;
}

.flex11-3 {
	flex: 1 1 3em;
}

.flex11-4 {
	flex: 1 1 4em;
}

.flex11-5 {
	flex: 1 1 5em;
}

.flex11-6 {
	flex: 1 1 6em;
}

.flex11-7 {
	flex: 1 1 7em;
}

.flex11-8 {
	flex: 1 1 8em;
}

.flex11-9 {
	flex: 1 1 9em;
}

.flex11-10 {
	flex: 1 1 10em;
}

.flex11-11 {
	flex: 1 1 11em;
}

.flex11-12 {
	flex: 1 1 12em;
}

.flex11-13 {
	flex: 1 1 13em;
}

.flex11-14 {
	flex: 1 1 14em;
}


.flex11-15 {
	flex: 1 1 15em;
}

.flex11-16 {
	flex: 1 1 16em;
}

.flex11-17 {
	flex: 1 1 17em;
}

.flex11-18 {
	flex: 1 1 18em;
}

.flex11-19 {
	flex: 1 1 19em;
}

.flex11-20 {
	flex: 1 1 20em;
}

.flex11-21 {
	flex: 1 1 21em;
}

.flex11-22 {
	flex: 1 1 22em;
}

.flex11-23 {
	flex: 1 1 23em;
}

.flex11-24 {
	flex: 1 1 24em;
}


.flex11-25 {
	flex: 1 1 25em;
}

.flex11-26 {
	flex: 1 1 26em;
}

.flex11-27 {
	flex: 1 1 27em;
}

.flex11-28 {
	flex: 1 1 28em;
}

.flex11-29 {
	flex: 1 1 29em;
}

.flex11-30 {
	flex: 1 1 30em;
}

.flex11-31 {
	flex: 1 1 31em;
}

.flex11-33 {
	flex: 1 1 32em;
}

.flex11-33 {
	flex: 1 1 33em;
}

.flex11-34 {
	flex: 1 1 34em;
}


.flex11-35 {
	flex: 1 1 35em;
}

.flex11-36 {
	flex: 1 1 36em;
}

.flex11-37 {
	flex: 1 1 37em;
}

.flex11-38 {
	flex: 1 1 38em;
}

.flex11-39 {
	flex: 1 1 39em;
}

/* #endregion */

/* #region width */
.width-half {
	width: 0.5em;
}

.width-1 {
	width: 1em;
}

.width-2 {
	width: 2em;
}

.width-3 {
	width: 3em;
}

.width-4 {
	width: 4em;
}

.width-5 {
	width: 5em;
}

.width-6 {
	width: 6em;
}

.width-7 {
	width: 7em;
}

.width-8 {
	width: 8em;
}

.width-9 {
	width: 9em;
}

.width-10 {
	width: 10em;
}

.width-11 {
	width: 11em;
}

.width-12 {
	width: 12em;
}

.width-13 {
	width: 13em;
}

.width-14 {
	width: 14em;
}


.width-15 {
	width: 15em;
}

.width-16 {
	width: 16em;
}

.width-17 {
	width: 17em;
}

.width-18 {
	width: 18em;
}

.width-19 {
	width: 19em;
}

.width-20 {
	width: 20em;
}

.width-21 {
	width: 21em;
}

.width-22 {
	width: 22em;
}

.width-23 {
	width: 23em;
}

.width-24 {
	width: 24em;
}


.width-25 {
	width: 25em;
}

.width-26 {
	width: 26em;
}

.width-27 {
	width: 27em;
}

.width-28 {
	width: 28em;
}

.width-29 {
	width: 29em;
}

.width-30 {
	width: 30em;
}

.width-31 {
	width: 31em;
}

.width-33 {
	width: 32em;
}

.width-33 {
	width: 33em;
}

.width-34 {
	width: 34em;
}


.width-35 {
	width: 35em;
}

.width-36 {
	width: 36em;
}

.width-37 {
	width: 37em;
}

.width-38 {
	width: 38em;
}

.width-39 {
	width: 39em;
}

/* #endregion */


img.max-width-auto-height {
	max-width: 100%;
	max-height: 100%;
}

img.original-size {
	-webkit-user-select: none;
	margin: auto;
}