/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	/* Chrome 26+, Opera 23+, Firefox 39+ */
	src: local(''), url('../assets/fonts/roboto-v30-latin/roboto-v30-latin-regular.woff2') format('woff2'),
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
		url('../assets/fonts/') format('woff');

}
