<button routerLink="/demo" value="demo"  mat-raised-button>
  Demo
</button>
<div class="container-fluid app-container">
	<router-outlet></router-outlet>
</div>

<div class="fixed-bottom">
	<div fxLayoutAlign="end end" class="column-gap-half">
		<!-- <button *ngIf="notificationsCount>0" [@newNotificationComing]="notificationsState" type="button" mat-raised-button (click)="showNotifications()" matTooltip="Show notifications">
			Notifications ({{notificationsCount}})
		</button>		 -->
		<button [@newNotificationComing]="notificationsState" type="button" mat-raised-button (click)="showNotifications()" matTooltip="Show notifications">
			Notifications ({{notificationsCount}})
		</button>
	</div>
</div>