<button routerLink="/demo" value="demo"  mat-raised-button>
  <span>Demo</span>
  <mat-icon>playground</mat-icon>
</button>
&nbsp;&nbsp;&nbsp;
<button mat-raised-button onclick="window.open('https://zijianhuang.github.io/nmce/documentation/', '_blank')">
  <span>Documentation</span>
  <mat-icon>book_2</mat-icon>
</button>
&nbsp;&nbsp;&nbsp;
<button mat-raised-button onclick="window.open('https://github.com/zijianhuang/nmce', '_blank')">
  <span>Repository</span>
  <mat-icon>star</mat-icon>
</button>

<div class="container-fluid app-container">
	<router-outlet></router-outlet>
</div>

@if (notificationsCount) {
<div class="fixed-bottom">
	<div class="fx-column-gap-half fx-align-end-end">
		<button [@newNotificationComing]="notificationsState" type="button" mat-icon-button (click)="showNotifications()" matTooltip="Show notifications">
			<mat-icon matBadge="{{notificationsCount}}" matBadgeColor="warn">notifications</mat-icon>
		</button>
	</div>
</div>
}