<div class="fx-column-gap-half">
    <mat-form-field class="flex-7">
        <mat-label>Month</mat-label>
        <mat-select placeholder="MM" [(ngModel)]="selectedMonth" name="month"
            (selectionChange)="onSelectionChange($event)">
            @for (m of monthSlots; track m) {
<mat-option [value]="m.value">{{ m.display }}</mat-option>
}
        </mat-select>
    </mat-form-field>
    <mat-form-field class="flex-7">
        <mat-label>Year</mat-label>
        <mat-select placeholder="YYYY" [(ngModel)]="selectedYear" name="year"
            (selectionChange)="onSelectionChange($event)">
            @for (y of yearSlots; track y) {
<mat-option [value]="y.value">{{ y.display }}</mat-option>
}
        </mat-select>
    </mat-form-field>
</div>