<mat-form-field fxFlex="3em">
    <mat-select placeholder="MM" [(ngModel)]="selectedMonth" name="month" (selectionChange)="onSelectionChange($event)">
        <mat-option *ngFor="let m of monthSlots" [value]="m.value">{{ m.display }}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field fxFlex="4em">
    <mat-select placeholder="YYYY" [(ngModel)]="selectedYear" name="year" (selectionChange)="onSelectionChange($event)">
        <mat-option *ngFor="let y of yearSlots" [value]="y.value">{{ y.display }}</mat-option>
    </mat-select>
</mat-form-field>
