<h1 mat-dialog-title>
	<span class="fx-align-start">{{ title }}</span>
	<button *ngIf="isSmallScreen||fullScreen" type="button" mat-icon-button matDialogClose aria-label="Close" class="float-left">
		<mat-icon>arrow_back</mat-icon>
	</button>
</h1>
<mat-dialog-content>
	<ng-container dataComponentHost></ng-container>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!isSmallScreen&&!fullScreen" class="fx-align-center-center">
	<button type="button" mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>
