<h1 mat-dialog-title class="block-items-gap-1">
	@if (isSmallScreen||fullScreen) {
<button type="button" mat-mini-fab color="any" matDialogClose aria-label="Close">
		<mat-icon>arrow_back</mat-icon>
	</button>
}
	<span class="fx-align-start">{{ title }}</span>
</h1>
<mat-dialog-content>
	<ng-container dataComponentHost></ng-container>
</mat-dialog-content>
@if (!isSmallScreen&&!fullScreen) {
<mat-dialog-actions [align]="actionsAlign">
	<button type="button" mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>
}
