<h1 mat-dialog-title>{{ title }}</h1>

<mat-dialog-content>
	<div class="fx-column-gap-half">
		<mat-form-field class="flex-10">
			<!--todo: seting width of input is not working. I guess the datepicker dictates the width? -->
			<mat-label>Start Date</mat-label>
			<input matInput [matDatepicker]="picker" [(ngModel)]="startDate" class="date-width" readonly />
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
		</mat-form-field>
		<mat-form-field class="flex-6">
			<mat-label>Hour</mat-label>
			<mat-select placeholder="HH" [(ngModel)]="selectedHourStart" name="hour">
				<mat-option *ngFor="let h of hourSlots" [value]="h">{{ pad0(h) }}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="flex-6">
			<mat-label>Minute</mat-label>
			<mat-select placeholder="MM" [(ngModel)]="selectedMinuteStart" name="minute">
				<mat-option *ngFor="let m of minuteSlots" [value]="m">{{ pad0(m) }}</mat-option>
			</mat-select>
		</mat-form-field>
		<div> </div>
		<mat-form-field class="flex-10">
			<mat-label>End Date</mat-label>
			<input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" class="date-width" readonly />
			<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
			<mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
		</mat-form-field>
		<mat-form-field class="flex-6">
			<mat-label>Hour</mat-label>
			<mat-select placeholder="HH" [(ngModel)]="selectedHourEnd" name="hour2">
				<mat-option *ngFor="let h of hourSlots" [value]="h">{{ pad0(h) }}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="flex-6">
			<mat-label>Minute</mat-label>
			<mat-select placeholder="MM" [(ngModel)]="selectedMinuteEnd" name="minute2">
				<mat-option *ngFor="let m of minuteSlots" [value]="m">{{ pad0(m) }}</mat-option>
			</mat-select>
		</mat-form-field>	
	</div>
</mat-dialog-content>
<mat-dialog-actions  [align]="actionsAlign">
	<button mat-raised-button matDialogClose (click)="cancel()">Cancel</button>
	<button type="submit" mat-raised-button (click)="submit()">Submit</button>
	<button type="button" mat-raised-button (click)="clear()">Clear</button>
</mat-dialog-actions>
