<h1 mat-dialog-title>{{ title }}</h1>

<mat-dialog-content class="fx-column-gap-half">
		<mat-form-field class="flex-10">
			<!--todo: seting width of input is not working. I guess the datepicker dictates the width? -->
			<mat-label>Start Date</mat-label>
			<input matInput [matDatepicker]="picker" [(ngModel)]="startDate" class="date-width" readonly />
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
		</mat-form-field>

		<mat-form-field class="flex-10">
			<mat-label>End Date</mat-label>
			<input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" class="date-width" readonly />
			<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
			<mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
		</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="fx-column-gap-half fx-align-center-center">
	<button type="button" mat-raised-button (click)="submit()" tabindex="1">Submit</button>
	<button type="button" mat-raised-button (click)="clear()" tabindex="2">Clear</button>
	<button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
