<h1 mat-dialog-title class="block-items-gap-1">
	<button *ngIf="useBackButton" type="button" mat-icon-button matDialogClose aria-label="Close" class="float-left">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<strong class="fx-align-start">{{title}}</strong>
	&nbsp;&nbsp;
	<mat-checkbox [(ngModel)]="scaleToWidth" matTooltip="Original resolution or scale to fit width">Scale to fit width</mat-checkbox>
</h1>
<mat-dialog-content>
	<html>
	<head>
		<base target="_blank" />
		<!-- Ensure all href are opened in new tab, as described in https://stackoverflow.com/questions/17281486/use-target-blank-in-css -->
	</head>
	<body #htmlContent>
		<img [ngClass]="{'max-width-auto-height': scaleToWidth, 'original-size': !scaleToWidth}" src="{{imageUrl}}" decoding="async" />
	</body>
</html>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!useBackButton" [align]="actionsAlign">
	<button type="button" mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>
