<h1 mat-dialog-title class="block-items-gap-1 line-ellipsis">
	@if (useBackButton) {
	<button type="button" mat-mini-fab color="any" matDialogClose aria-label="Close">
		<mat-icon>arrow_back</mat-icon>
	</button>
	}
	<span>{{title}}</span>
</h1>

<mat-dialog-content>
	<iframe #htmlContent style="position: absolute;	height: calc(100% - 8em); width: calc(100% - 4em);"></iframe>
</mat-dialog-content>
@if (!useBackButton) {
<mat-dialog-actions [align]="actionsAlign">
	<button type="button" mat-raised-button matDialogClose i18n>Close</button>
</mat-dialog-actions>
}