<h1 mat-dialog-title>
	<button *ngIf="useBackButton" type="button" mat-icon-button matDialogClose aria-label="Close"
		class="float-left">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<span fxFlexAlign="start">{{title}}</span>
</h1>
<mat-dialog-content>
	<html>
	<head>
		<base target="_blank" />
		<!-- Ensure all href are opened in new tab, as described in https://stackoverflow.com/questions/17281486/use-target-blank-in-css -->
	</head>
	<body>
		<iframe #htmlContent style="position: absolute;	height: calc(100% - 8em); width: calc(100% - 4em);"></iframe>
	</body>
	</html>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!useBackButton" fxLayoutAlign="center center">
	<button type="button" mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>