<h1 mat-dialog-title class="block-items-gap-1 line-ellipsis">
	<button *ngIf="useBackButton" type="button" mat-mini-fab color="any" matDialogClose aria-label="Close">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<span>{{title}}</span>
</h1>
<mat-dialog-content>
	<html>
	<head>
		<base target="_blank" />
		<!-- Ensure all href are opened in new tab, as described in https://stackoverflow.com/questions/17281486/use-target-blank-in-css -->
	</head>
	<body [innerHTML]="htmlContent">
	</body>
</html>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!useBackButton" [align]="actionsAlign">
	<button type="button" mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>
