<h1 mat-dialog-title>
	<mat-icon *ngIf="useIcon" [color]="iconColor">{{titleIcon}}</mat-icon>
	<label *ngIf="useTitle" class="fx-align-start">{{ title }}</label>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<label>
		{{ subtitle }}
	</label>
</h1>
<mat-dialog-content>
	<div *ngIf="!message?.status && message?.contentType==='text'"
		[ngClass]="{ 'alert': message, 'alert-success': messageType === 'success', 'alert-danger': messageType === 'error', 'alert-info':messageType==='info', 'alert-warning':messageType==='warning'}"
		role="alert">{{ message?.text }}
	</div>
	<div *ngIf="message?.status! >= 0"
		[ngClass]="{ 'alert': message, 'alert-success': messageType === 'success', 'alert-danger': messageType === 'error', 'alert-info':messageType==='info', 'alert-warning':messageType==='warning'}"
		role="alert">HTTP Status: {{message?.status}} {{message?.statusText}}
	</div>

	<ng-template [ngIf]="message?.contentType !== 'text'">
		<html>

		<head>
			<base target="_blank" />
			<!-- Ensure all href are opened in new tab, as described in https://stackoverflow.com/questions/17281486/use-target-blank-in-css -->
		</head>

		<body>
			<iframe *ngIf="message?.status || message?.status ===0" #htmlContent class="frame-dialog-content"></iframe>
			<div *ngIf="!message?.status &&  message?.status !==0" #htmlContent></div>
		</body>

		</html>
	</ng-template>
</mat-dialog-content>
<mat-dialog-actions class="fx-column-gap-half fx-align-center-center">
	<button type="button" mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>