<div mat-dialog-title fxLayout="row">
	<mat-icon *ngIf="useIcon" [color]="iconColor">{{titleIcon}}</mat-icon>
	<label *ngIf="useTitle" fxFlexAlign="start">{{ title }}</label>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<label>
		{{ subtitle }}
	</label>
</div>
<mat-dialog-content>
	<div [ngClass]="{ 'alert': message, 'alert-success': messageType === 'success', 'alert-danger': messageType === 'error', 'alert-info':messageType==='info', 'alert-warning':messageType==='warning'}" role="alert">{{ messageText }}</div>
	<div #htmlContent></div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutGap="0.5em" fxLayoutAlign="center center">
	<button type="button" mat-button mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>
