<h1 mat-dialog-title class="block-items-gap-1">
	@if (useIcon) {
	<mat-icon [color]="iconColor">{{titleIcon}}</mat-icon>
	}
	@if (useTitle) {
	<label class="fx-align-start">{{ title }}</label>
	}
	&nbsp;&nbsp;&nbsp;&nbsp;
	<label>
		{{ subtitle }}
	</label>
</h1>
<mat-dialog-content>
	@if (!message()?.status && message()?.contentType==='text') {
	<div [ngClass]="{ 'alert': message(), 'alert-success': messageType === 'success', 'alert-error': messageType === 'error', 'alert-info':messageType==='info', 'alert-warning':messageType==='warning'}"
		role="alert">{{ message()?.text }}
	</div>
	}
	@if (message()?.status! >= 0) {
	<div [ngClass]="{ 'alert': message(), 'alert-success': messageType === 'success', 'alert-error': messageType === 'error', 'alert-info':messageType==='info', 'alert-warning':messageType==='warning'}"
		role="alert">HTTP Status: {{message()?.status}} {{message()?.statusText}}
	</div>
	}

	@if (['text', 'html', 'json'].indexOf($safeNavigationMigration(message()?.contentType)!)>=0 && message()?.text) {
		@if (message()?.status || message()?.status ===0) {
		<iframe #htmlContent class="frame-dialog-content"></iframe>
		}
		@if (!message()?.status && message()?.status !==0) {
		<div #htmlContent></div>
		}
	}
</mat-dialog-content>
<mat-dialog-actions [align]="actionsAlign">
	<button type="button" mat-raised-button matDialogClose i18n>Close</button>
</mat-dialog-actions>