﻿<!--<div fxLayoutWrap>-->
    <span [ngClass]="{ 'alert': message, 'alert-success': messageType === 'success', 'alert-danger': messageType === 'error', 'alert-info':messageType==='info', 'alert-warning':messageType==='warning'}" role="alert">{{ messageText }}</span>
<!--</div>-->
<!-- At this stage, as of 04/05/2017, it seems the snackbar component is not performing well with multiple div elements when running in IE. 
    But when testing with simple example based on the API doc, things seem to be fine. Let's review this when NG Material become better. -->
