<h1 mat-dialog-title>
	<label class="titlebar">{{title}}</label>

	<button mat-icon-button (click)="clearAndClose()" matTooltip="Clear notifications" class="float-right">
		<mat-icon>clear_all</mat-icon>
	</button>
</h1>
<mat-list>
	<mat-list-item *ngFor="let item of items" (click)="handleAction(item)">
		<span *ngIf="item.actionLabel" matListItemTitle>
			<button mat-icon-button (click)="remove(item)" matTooltip="Remove item">
				<mat-icon>remove_circle_outline</mat-icon>
			</button>
			{{item.actionLabel}}
		</span>
		<span matListItemLine>
			<button *ngIf="!item.actionLabel" mat-icon-button (click)="remove(item)" matTooltip="Remove item">
				<mat-icon>remove_circle_outline</mat-icon>
			</button>
			{{getDigest(item.message)}}
		</span>
	</mat-list-item>
</mat-list>