<h1 mat-dialog-title>
	<label class="titlebar">{{title}}</label>

	<button mat-icon-button (click)="clearAndClose()" matTooltip="Clear notifications" class="float-right">
		<mat-icon>clear_all</mat-icon>
	</button>
</h1>
<mat-action-list>
	<mat-list-item *ngFor="let item of items" (click)="handleAction(item)">
		<button mat-icon-button (click)="remove(item)" matTooltip="Remove item">
			<mat-icon>remove_circle_outline</mat-icon>
		</button>
		{{getDigest(item.message)}}
	</mat-list-item>
</mat-action-list>
