<h1 mat-dialog-title>
    {{ title }}
</h1>
<mat-dialog-content>
    <form class="fx-layout-column flex-35">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput name="password" [formControl]="passwordControl" required  />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput name="confirmPassword" [formControl]="confirmPasswordControl" required/>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="fx-column-gap-half" fxLayoutAlign="center center">
    <button type="submit" mat-raised-button (click)="confirm()" id="submit" [disabled]="!saveEnabled" >Change</button>
    <button type="button" mat-raised-button  (click)="cancel()" id="cancel">Cancel</button>
</mat-dialog-actions>
