<h1 mat-dialog-title>
    {{ title }}
</h1>
<mat-dialog-content>
    <form fxLayout="column" fxFlex="35em">
        <mat-form-field>
            <input type="password" matInput placeholder="Password" name="password" [formControl]="passwordControl" required  />
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Confirm Password" name="confirmPassword" [formControl]="confirmPasswordControl" required/>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutGap="0.5em" fxlayout="row" fxLayoutAlign="center center">
    <button type="submit" mat-button mat-raised-button (click)="confirm()" id="submit" [disabled]="!saveEnabled" >Change</button>
    <button type="button" mat-button mat-raised-button  (click)="cancel()" id="cancel">Cancel</button>
</mat-dialog-actions>
