<h1 mat-dialog-title>
    {{ title }}
</h1>
<mat-dialog-content>
    <form class="flex-direction-column">
        <mat-form-field *ngIf="label">
            <mat-label>{{label}}</mat-label>
            <input matInput [(ngModel)]="text" name="text" type="text" />
        </mat-form-field>
        <mat-form-field *ngIf="!label" fxFlexFill>
            <textarea matInput matTextareaAutosize [(ngModel)]="text" name="text" type="text" matAutosizeMinRows="2" matAutosizeMaxRows="5" autofocus></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="column-gap-half" fxLayoutAlign="center center">
    <button type="submit" mat-raised-button (click)="confirm()" id="submit">Submit</button>
    <button type="button" mat-raised-button (click)="cancel()" id="cancel">Cancel</button>
</mat-dialog-actions>
