<h1 mat-dialog-title class="block-items-gap-1 line-ellipsis">
	@if (useBackButton) {
<button type="button" mat-mini-fab color="any" matDialogClose aria-label="Close">
		<mat-icon>arrow_back</mat-icon>
	</button>
}
	<span>{{title}}</span>
</h1>
<mat-dialog-content>
	<div>
		<style>
			pre {
				overflow-x: auto;
				white-space: pre-wrap;
				white-space: -moz-pre-wrap;
				white-space: -pre-wrap;
				white-space: -o-pre-wrap;
				word-wrap: break-word;
			}
		</style>
		<pre #htmlContent></pre>
	</div>
</mat-dialog-content>
@if (!useBackButton) {
<mat-dialog-actions [align]="actionsAlign">
	<button type="button" mat-raised-button matDialogClose i18n>Close</button>
</mat-dialog-actions>
}
