<h1 mat-dialog-title>
	<mat-dialog-actions fxlayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start">
		<button mat-raised-button matTooltip="Back"
				(click)="close()">
			<mat-icon>arrow_back_ios</mat-icon>
		</button>
		<div *ngIf="!readonly">
			<button type="submit" mat-mini-fab color="any" (click)="save()" [disabled]="!modified" matTooltip="Save changes">
				<mat-icon>done</mat-icon>
			</button>
			<button  mat-mini-fab color="any" (click)="reset()" [disabled]="!modified" matTooltip="Undo changes">
				<mat-icon>undo</mat-icon>
			</button>
		</div>
	</mat-dialog-actions>
</h1>
<mat-dialog-content>
	<mat-form-field fxFlexFill>
		<mat-label>{{noteLabel}}</mat-label>
		<textarea matInput #textDetail name="note" [formControl]="noteControl"
				  cdkTextareaAutosize cdkAutosizeMinRows="2" [cdkAutosizeMaxRows]="maxRows" [readonly]="readonly"></textarea>
	</mat-form-field>
</mat-dialog-content>
