<h1 mat-dialog-title>
	<button *ngIf="useBackButton" type="button" mat-icon-button matDialogClose aria-label="Close" class="float-left">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<span class="fx-align-start">{{title}}</span>
</h1>
<mat-dialog-content>
	<html>
	<head>
		<base target="_blank" />
		<!-- Ensure all href are opened in new tab, as described in https://stackoverflow.com/questions/17281486/use-target-blank-in-css -->
		<style>
			pre {
				overflow-x: auto;
				white-space: pre-wrap;
				white-space: -moz-pre-wrap;
				white-space: -pre-wrap;
				white-space: -o-pre-wrap;
				word-wrap: break-word;
			}
		</style>
	</head>
	<body>
		<pre #htmlContent></pre>
	</body>
</html>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!useBackButton" class="fx-align-center-center">
	<button type="button" mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>
