<h1 mat-dialog-title class="block-items-gap-1">
		<button mat-mini-fab color="any" i18n-matTooltip  matTooltip="Back"
				(click)="close()">
			<mat-icon>arrow_back_ios</mat-icon>
		</button>
		@if (!readonly) {

			<button type="submit" mat-mini-fab color="any" (click)="save()" [disabled]="!modified" i18n-matTooltip  matTooltip="Save changes">
				<mat-icon>done</mat-icon>
			</button>
			<button  mat-mini-fab color="any" (click)="reset()" [disabled]="!modified" i18n-matTooltip  matTooltip="Undo changes">
				<mat-icon>undo</mat-icon>
			</button>
		
}
</h1>
<mat-dialog-content>
	<p> </p>
	<mat-form-field class="fx-full-width top-margin-half">
		<mat-label>{{noteLabel}}</mat-label>
		<textarea matInput #textDetail name="note" [formControl]="noteControl"
				  cdkTextareaAutosize cdkAutosizeMinRows="2" [cdkAutosizeMaxRows]="maxRows" [readonly]="readonly"></textarea>
	</mat-form-field>
</mat-dialog-content>
