<h1 mat-dialog-title>
    {{ title }}
</h1>
<mat-dialog-content>
    <form class="fx-layout-column top-margin-half">
        <mat-form-field *ngIf="label" class="fx-full-width">
            <mat-label>{{label}}</mat-label>
            <input matInput [(ngModel)]="text" name="text" type="text" />
        </mat-form-field>
        <mat-form-field *ngIf="!label" class="fx-full-width">
            <textarea matInput cdkTextareaAutosize [(ngModel)]="text" name="text" type="text" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" autofocus></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions [align]="actionsAlign">
    <button type="button" mat-raised-button (click)="cancel()" id="cancel">Cancel</button>
    <button type="submit" mat-raised-button (click)="confirm()" id="submit">Submit</button>
</mat-dialog-actions>
