<h1 mat-dialog-title class="block-items-gap-1">
		<button mat-mini-fab color="any" matTooltip="Back"
				(click)="close()">
			<mat-icon>arrow_back_ios</mat-icon>
		</button>
		<ng-template [ngIf]="!readonly">
			<button type="submit" mat-mini-fab color="any" (click)="save()" [disabled]="!modified" matTooltip="Save changes">
				<mat-icon>done</mat-icon>
			</button>
			<button  mat-mini-fab color="any" (click)="reset()" [disabled]="!modified" matTooltip="Undo changes">
				<mat-icon>undo</mat-icon>
			</button>
		</ng-template>
</h1>
<mat-dialog-content>
	<mat-form-field class="fx-full-width">
		<mat-label>{{noteLabel}}</mat-label>
		<textarea matInput #textDetail name="note" [formControl]="noteControl"
				  cdkTextareaAutosize cdkAutosizeMinRows="2" [cdkAutosizeMaxRows]="maxRows" [readonly]="readonly"></textarea>
	</mat-form-field>
</mat-dialog-content>
