<h1 mat-dialog-title>{{ title }}</h1>

<mat-dialog-content>
	<div class="fx-column-gap-half top-margin-half">
		<mat-form-field class="flex-6">
			<mat-label>Hour</mat-label>
			<mat-select [(ngModel)]="selectedHour" name="hour">
				@for (h of hourSlots; track h) {
<mat-option [value]="h">{{ pad0(h) }}</mat-option>
}
			</mat-select>
		</mat-form-field>
		<mat-form-field class="flex-6">
			<mat-label>Minute</mat-label>
			<mat-select [(ngModel)]="selectedMinute" name="minute">
				@for (m of minuteSlots; track m) {
<mat-option [value]="m">{{ pad0(m) }}</mat-option>
}
			</mat-select>
		</mat-form-field>	
	</div>
</mat-dialog-content>
<mat-dialog-actions [align]="actionsAlign">
	<button mat-raised-button matDialogClose (click)="cancel()">Cancel</button>
	<button type="button" mat-raised-button (click)="submit()" tabindex="1">Submit</button>
	@if (!noClear) {
<button type="button" mat-raised-button (click)="clear()" tabindex="2">Clear</button>
}
</mat-dialog-actions>
