/* You can add global styles to this file, and also import other style files */
iframe.frame-dialog-content {
	width: 75vw;
	height: 45vh;
}


/* For block container such as mat-dialog-title which is at odd against flex. */
.block-items-gap-1 > * {
	margin-left: 1em;
}

	.block-items-gap-1 > *:first-child {
		margin-left: 0em;
	}

.top-margin-half {
	margin-top: 0.5em;
}

/* Used by panelClass of matDialog to define the mat dialog content height. */
.dialog-full-content-height .mat-mdc-dialog-content {
	max-height: calc(95vh - 5em);
}

/* for dialog with 2 row on the top */
.dialog-full-content-height2 .mat-mdc-dialog-content {
	max-height: calc(95vh - 7em);
}

.dialog-full-content-height-wait {
	max-height: calc(95vh - 7em);
	height: calc(95vh - 7em);
	max-width: calc(95vw);
	width: calc(95vw);
}

.frame-dialog-content {
	height: calc(95vh - 7em);
	width: calc(98vw - 3em);
}

img.max-width-auto-height {
	max-width: 100%;
	max-height: 100%;
}

img.original-size {
	-webkit-user-select: none;
	margin: auto;
}