/* You can add global styles to this file, and also import other style files */
iframe.frame-dialog-content {
	width: 75vw;
	height: 45vh;
}


.top-margin-half {
	margin-top: 0.5em;
}

img.max-width-auto-height {
	max-width: 100%;
	max-height: 100%;
}

img.original-size {
	-webkit-user-select: none;
	margin: auto;
}