<div mat-dialog-title fxLayoutGap="1em">
	<span fxFlexAlign="start">{{ title }}</span>
	<button *ngIf="isSmallScreen||fullScreen" type="button" mat-icon-button matDialogClose aria-label="Close" class="float-left">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<button mat-mini-fab (click)="print()">
		<mat-icon>print</mat-icon>
	</button>
</div>
<mat-dialog-content #htmlPrintContent>
	<ng-template dataComponentHost></ng-template>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!isSmallScreen&&!fullScreen" fxLayoutAlign="center center">
	<button type="button" mat-button mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>
