<h1 mat-dialog-title class="block-items-gap-1 line-ellipsis">
	@if (useBackButton) {
<button type="button" mat-mini-fab color="any" matDialogClose aria-label="Close">
		<mat-icon>arrow_back</mat-icon>
	</button>
}
	<button mat-mini-fab (click)="print()">
		<mat-icon>print</mat-icon>
	</button>
	<span>{{title}}</span>
	<div>
		<mat-checkbox [(ngModel)]="scaleToWidth" i18n-matTooltip  matTooltip="Original resolution or scale to fit width">Scale to fit
			width</mat-checkbox>
	</div>
</h1>
<mat-dialog-content>
	<html>

	<head>
		<base target="_blank" />
		<!-- Ensure all href are opened in new tab, as described in https://stackoverflow.com/questions/17281486/use-target-blank-in-css -->
	</head>

	<body #htmlContent>
		<img [ngClass]="{'max-width-auto-height': scaleToWidth, 'original-size': !scaleToWidth}" src="{{imageUrl}}"
			decoding="async" />
	</body>

	</html>
</mat-dialog-content>
@if (!useBackButton) {
<mat-dialog-actions [align]="actionsAlign">
	<button type="button" mat-raised-button matDialogClose>Close</button>
</mat-dialog-actions>
}