<div>
	<button mat-mini-fab (click)="localAlert()"><mat-icon>play_arrow</mat-icon></button>
	<mat-form-field>
		<mat-select [formControl]="dialogSelectedControl">
			<mat-option [value]="1" >Success</mat-option>
			<mat-option [value]="2">Info</mat-option>
			<mat-option [value]="3">Warn</mat-option>
			<mat-option [value]="4">Error</mat-option>
		</mat-select>
	</mat-form-field>
	LocalAlertService:
	<p><alert></alert></p>
</div>

<div fxLayoutGap="1em">
	<button mat-mini-fab (click)="toggleWait()"><mat-icon>{{waitServiceIsWaiting?'stop':'play_arrow'}}</mat-icon></button>
	WaitService:
	<wait></wait>
</div>

<div>
	<button mat-mini-fab (click)="addNotification()"><mat-icon>play_arrow</mat-icon></button>
	ActionSheetItemSubjectService Add Notification to NotificationsService
</div>

<div>
	<month-year-expiry [yearMonthExpiry]="yearMonthExpiryControl"></month-year-expiry> <span *ngIf=yearMonthExpiryControl.dirty>*</span>
</div>
