<div class="fx-column-gap-half" class="fixed-top-2 indent-1 semi-transparent">
	<nav mat-tab-nav-bar [tabPanel]="dialogsPanel">
		<a mat-tab-link #dialogsPanel
		   routerLink="/demo/dialogs"
		   routerLinkActive #rlaDialogs="routerLinkActive"
		   [active]="rlaDialogs.isActive">
			Dialogs
		</a>
		<a mat-tab-link
		   routerLink="/demo/htmlDialogs"
		   routerLinkActive #rlaHtmlDialogs="routerLinkActive"
		   [active]="rlaHtmlDialogs.isActive">
			Html Dialogs
		</a>
		<a mat-tab-link
		   routerLink="/demo/inputDialogs"
		   routerLinkActive #rlaInputDialogs="routerLinkActive"
		   [active]="rlaInputDialogs.isActive || defaultActive">
			Input Services
		</a>
		<a mat-tab-link
		   routerLink="/demo/components"
		   routerLinkActive #rlaComponents="routerLinkActive"
		   [active]="rlaComponents.isActive">
			Components/Services
		</a>
		<a mat-tab-link
		   routerLink="/demo/directives"
		   routerLinkActive #rlaDirectives="routerLinkActive"
		   [active]="rlaDirectives.isActive">
			Directives
		</a>
		<a mat-tab-link
		   routerLink="/demo/pipes"
		   routerLinkActive #rlaPipes="routerLinkActive"
		   [active]="rlaPipes.isActive">
			Pipes
		</a>
	</nav>
</div>

<div class="content-top-padding-relative">
	<router-outlet></router-outlet>
</div>
