<div>
	<mat-checkbox [(ngModel)]="useBackButton" [indeterminate]="useBackButton==undefined">Use Back Button</mat-checkbox>
</div>
<div>
	<mat-form-field>
		<mat-select [formControl]="sizeSelectedControl">
			<mat-option [value]="0">Auto</mat-option>
			<mat-option [value]="1">Large</mat-option>
			<mat-option [value]="2">Medium</mat-option>
			<mat-option [value]="3">Smart</mat-option>
		</mat-select>
	</mat-form-field>
</div>

{{data}}

@if (data) {
<p class="fx-column-gap-1">
	<label>Html Dialog</label><button mat-mini-fab (click)="showHtmlDialog()"><mat-icon>play_arrow</mat-icon></button>
	<mat-checkbox [(ngModel)]="useLargeHtml">Load Large HTML</mat-checkbox>
</p>
}

<p class="fx-column-gap-1">
	<label>Html HRef Dialog</label><button mat-mini-fab (click)="showHtmlHRefDialog()"><mat-icon>play_arrow</mat-icon></button>
</p>

<p class="fx-column-gap-1">
	<label>Html HRef Frame Dialog</label><button mat-mini-fab (click)="showHtmlHRefFrameDialog()"><mat-icon>play_arrow</mat-icon></button>
</p>

<p class="fx-column-gap-1">
	<label>Html Frame Dialog</label><button mat-mini-fab (click)="showHtmlFrameDialog()"><mat-icon>play_arrow</mat-icon></button>
</p>

<p class="fx-column-gap-1">
	<label>Html Img Dialog</label><button mat-mini-fab (click)="showHtmlImgDialog()"><mat-icon>play_arrow</mat-icon></button>
	<mat-checkbox [(ngModel)]="useLargeImg">Load Large Image</mat-checkbox>
</p>


<p class="fx-column-gap-1">
	<label>Html PrintDialog</label><button mat-mini-fab (click)="showHtmlPrintDialog()"><mat-icon>play_arrow</mat-icon></button>
	<mat-checkbox [(ngModel)]="useLargeHtml">Load Large HTML</mat-checkbox>
</p>

<p class="fx-column-gap-1">
	<label>Html HRef PrintDialog</label><button mat-mini-fab (click)="showHtmlHRefPrintDialog()"><mat-icon>play_arrow</mat-icon></button>
</p>

<p class="fx-column-gap-1">
	<label>Html HRef Frame PrintDialog</label><button mat-mini-fab (click)="showHtmlHRefFramePrintDialog()"><mat-icon>play_arrow</mat-icon></button>
</p>

<p class="fx-column-gap-1">
	<label>Html Frame PrintDialog</label><button mat-mini-fab (click)="showHtmlFramePrintDialog()"><mat-icon>play_arrow</mat-icon></button>
</p>

<p class="fx-column-gap-1">
	<label>Html Img PrintDialog</label><button mat-mini-fab (click)="showHtmlImgPrintDialog()"><mat-icon>play_arrow</mat-icon></button>
	<mat-checkbox [(ngModel)]="useLargeImg">Load Large Image</mat-checkbox>
</p>

