<fieldset>
	<legend>ConfirmService</legend>
	<p class="fx-column-gap-1">Opened: {{confirmDialogOpened}}, Response: {{confirmDialogConfirmed}}</p>

	<p class="fx-column-gap-1">
		<label>Open</label><button mat-mini-fab (click)="confirmOpen()"><mat-icon>play_arrow</mat-icon></button>
	</p>

	<p class="fx-column-gap-1">
		<label>OpenDefault</label><button mat-mini-fab (click)="confirmAreYouSure()"><mat-icon>play_arrow</mat-icon></button>
	</p>
	<p class="fx-column-gap-1">
		<label>Close in 3 seconds</label><button mat-mini-fab (click)="confirmAndCloseIn3Seconds()"><mat-icon>play_arrow</mat-icon></button>
	</p>
</fieldset>
<p></p>
<fieldset>
	<legend>Date Time Services</legend>
	<p class="fx-column-gap-1">
		<label>DateRangePickerService.open</label><button mat-mini-fab (click)="openDateRangePickerService()"><mat-icon>play_arrow</mat-icon></button>
	</p>
	<p class="fx-column-gap-1">
		<label>DateHourRangePickerService.open</label><button mat-mini-fab (click)="openDateHourRangePickerService()"><mat-icon>play_arrow</mat-icon></button>
	</p>
	<p class="fx-column-gap-1">
		<label>TimeService.open</label><button mat-mini-fab (click)="showTimeInput()"><mat-icon>play_arrow</mat-icon></button>
		<mat-checkbox [(ngModel)]="noClear">No Clear Button</mat-checkbox>
	</p>
</fieldset>

<p></p>
<fieldset>
	<legend>Editors</legend>
	<mat-checkbox [(ngModel)]="useUploadUrl">UseUploadUrl</mat-checkbox>

	<p class="fx-column-gap-1">
		<label>LocalDocHtmlEditor.open New</label><button mat-mini-fab (click)="openLocalDocEditor()"><mat-icon>play_arrow</mat-icon></button>
		<label></label><button *ngIf="htmlFileId" mat-icon-button (click)="editHtml()" matTooltip="Edit">
			<mat-icon>edit</mat-icon>
		</button>
		<span class="href" (click)="viewHtml()">{{ htmlFileId }}</span>

	</p>

	<p class="fx-column-gap-1">
		<label>LocalTextEditor.open New</label><button mat-mini-fab (click)="openLocalTextEditor()"><mat-icon>play_arrow</mat-icon></button>
		<label></label><button *ngIf="textFileId" mat-icon-button (click)="editText()" matTooltip="Edit">
			<mat-icon>edit</mat-icon>
		</button>
		<span class="href" (click)="viewText()">{{ textFileId }}</span>

	</p>
	<p class="fx-column-gap-1">
		<label>ConfirmEmail</label><button mat-mini-fab (click)="confirmEmail()"><mat-icon>play_arrow</mat-icon></button>
		<mat-checkbox [(ngModel)]="isHtml">IsHtml</mat-checkbox>
	</p>
</fieldset>

<p></p>
<fieldset>
	<legend>Options Service</legend>
	<p class="fx-column-gap-1">
		<label>OptionsService.open</label><button mat-mini-fab (click)="showOptions()"><mat-icon>play_arrow</mat-icon></button>
	</p>

	<p class="fx-column-gap-1">
		<label>OptionListService.open</label><button mat-mini-fab (click)="showOptionList()"><mat-icon>play_arrow</mat-icon></button>
	</p>

</fieldset>
<p></p>
<p class="fx-column-gap-1">
	<label>textInputService.open</label><button mat-mini-fab (click)="showInputDialog()"><mat-icon>play_arrow</mat-icon></button>
	<mat-checkbox [(ngModel)]="inputDialogSmall">Small</mat-checkbox>
</p>

<p class="fx-column-gap-1">
	<label>PasswordsInputService.open</label><button mat-mini-fab (click)="showPasswordInput()"><mat-icon>play_arrow</mat-icon></button>
</p>


