<div>
	<strong>Date and Time:</strong>
	<ul>
		<li>
			<label>literalDate</label>: <span>{{currentDateTime | literalDate}}</span>
		</li>
		<li>
			<label>literalDate tomorrow</label>: <span>{{tomorrow | literalDate}}</span>
		</li>
		<li>
			<label>literalDate yesterday</label>: <span>{{yesterday | literalDate}}</span>
		</li>
		<li>
			<label>literalDate future</label>: <span>{{future | literalDate}}</span>
		</li>
	</ul>
</div>

<div>
	<strong>Currency:</strong>
	<ul>
		<li><label>Amount 12345.45 with bankerRound and currency</label>: <span>{{12345.465 | bankerRound: 2 | currency: 'AUD' : 'symbol'}}</span></li>
		<li><label>Amount 987199 with centsToAUD</label>: <span>{{amountInCent/100  | currency: 'AUD' : 'symbol'}}</span></li>
	</ul>
</div>

<div>
	<strong>Number:</strong>
	<ul>
		<li><label>Pad 123 with pad:8</label>: <span>{{123 | pad:8}}</span></li>
	</ul>
</div>

<p>

</p>