/* For block container such as mat-dialog-title which is at odd against flex. */
.block-items-gap-1>* {
	margin-left: 1em;
}

.block-items-gap-1>*:first-child {
	margin-left: 0em;
}

.top-margin-half {
	margin-top: 0.5em;
}

/* Used by panelClass of matDialog to define the mat dialog content height. */
.dialog-full-content-height mat-dialog-content {
	max-height: calc(95vh - 5em);
}

.full-width .mat-mdc-dialog-container {
	max-width: none;
	width: 100vw;
}

/* for dialog with 2 row on the top */
.dialog-full-content-height2 mat-dialog-content {
	max-height: calc(95vh - 7em);
}

.frame-dialog-content {
	height: calc(95vh - 7em);
	width: calc(98vw - 3em);
}
